:root {
  --color-black: #000;
  --color-red: #f00;
  --color-green: #0f0;
  --color-yellow: #ff0;
  --color-blue: #00f;
  --color-magenta: #f0f;
  --color-cyan: #0ff;
  --color-white: #fff;
  --color-gray: #888;

  --color-back: #181818;
  --color: #fff;
  --color-link: #5f5fbf;
  --color-error-back: #7f3f3f;

  --color-button: #858585;
  --color-button-light: #afafaf;
  --color-button-dark: #555;
  --color-button-down: #99c;
}

@font-face {
  font-family: "unscii16";
  src: url("unscii-16.woff") format("woff");
}
@font-face {
  font-family:"unscii8";
  src: url("unscii-8.woff") format("woff");
}

.hidden {
  display: none !important;
}

body {
  background: var(--color-back);
  color: var(--color);

  font-family: "unscii16", monospace;
  input, button {
    font-family: "unscii16", monospace;
    background: var(--color-back);
    color: var(--color);
    border: 2px solid var(--color-gray);
  }

  a {
    color: var(--color-link);
  }

  button {
    background: var(--color-button);
    color: var(--color);
    border-top: 2px solid var(--color-button-light);
    border-left: 2px solid var(--color-button-light);
    border-bottom: 3px solid var(--color-button-dark);
    border-right: 3px solid var(--color-button-dark);
    &:hover {
      background: var(--color-button-light);
    }
    &.down {
      background: var(--color-button-down);
    }
  }
}

#app {
  display: flex;

  .app-wrapper {
    margin: 0 auto;

    .github-link {
      color: #3f4c66;
      float: right;
    }
  }
}

.teletext-viewer {

  .error {
    background: var(--color-error-back);
    padding: 4px;
  }

  input[type=number] {
    font-size: 16px
  }

  @keyframes loading-blink {
    0% {
      border-color: var(--color-gray);
      color: var(--color-gray);
    }
    100% {
      border-color: var(--color-green);
      color: var(--color-green);
    }
  }
  .channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: -4px;
    .channel {
      border: 4px solid var(--color-gray);
      color: var(--color-gray);
      margin: 4px;
      padding: 0 8px;
      cursor: pointer;
      transition: color .2s ease, background-color .1s ease;
      &:hover {
        border-color: var(--color-yellow);
        color: var(--color-yellow);
      }
      &.selected {
        border-color: var(--color-white);
        color: var(--color-white);
      }
      &.loading {
        animation: .5s infinite alternate loading-blink;
      }
    }
  }

  .page-select {
    input { width: 4rem; }
  }

  .dropdown {
    display: inline-block;
    background: var(--color-back);
    .value {
      cursor: pointer;
      &.lesser {
        color: var(--color-gray);
      }
    }
    .dropdown-box-background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .dropdown-box {
      z-index: 101;
      background: var(--color-back);
      position: fixed;
      max-height: 10rem;
      overflow: scroll;
      display: inline-block;
      padding: 8px;
      margin: -8px;
    }
  }

  .controls {
    font-size: 24px;
    padding: 8px 0;
  }

  .teletext-page-wrapper {
    margin: .1rem;
    padding: 8px;
    border: 1px solid gray;
    display: inline-block;
    background: var(--color-black);
    color: var(--color-white);

    .teletext-page {
      white-space: pre;
      font-family: "unscii16", monospace;
      font-size: 16px;
      line-height: 16px;

      &.big {
        font-family: "unscii8", monospace;
        font-size: 16px;
        line-height: 16px;
      }

      .color-fg-b { color: var(--color-black); }
      .color-fg-r { color: var(--color-red); }
      .color-fg-g { color: var(--color-green); }
      .color-fg-y { color: var(--color-yellow); }
      .color-fg-l { color: var(--color-blue); }
      .color-fg-m { color: var(--color-magenta); }
      .color-fg-c { color: var(--color-cyan); }
      .color-fg-w { color: var(--color-white); }
      .color-fg-a { color: var(--color-gray); }  // extra

      .color-bg-b { background-color: var(--color-black); }
      .color-bg-r { background-color: var(--color-red); }
      .color-bg-g { background-color: var(--color-green); }
      .color-bg-y { background-color: var(--color-yellow); }
      .color-bg-l { background-color: var(--color-blue); }
      .color-bg-m { background-color: var(--color-magenta); }
      .color-bg-c { background-color: var(--color-cyan); }
      .color-bg-w { background-color: var(--color-white); }

      // fix some bug
      .color-fg-b.color-bg-b { color: var(--color-white)}

      .link {
        cursor: pointer;
      }
    }
  }

  .timestamps {
    overflow: scroll;
    max-height: 20rem;
  }
}